/* 
const buttonStyle = {
    fontSize:"1.5rem",
    backgroundColor:"#00a5ab",
    width:"100px",
    margin:"10px",
    color:"white",
    padding:"15px",
    borderRadius:"30px"
} */

button {
  font-size: 1rem;
  width: 100px;
  margin: 1rem;
  color: white;
  padding: 1rem;
  border-radius: 30px;
  border-color: black;
  border-width: 2px;
}

.counterButton {
  background-color: #00a5ab;
}

.resetButton {
  background-color: #824f8c;
}

.count {
  color: black;
  font-size: 2rem;
  padding: 1.5rem;
}

.totalCount {
  font-size: 7rem;
  color: #00a5ab;
}
